<p-table
  [value]="words | slice:0" 
  dataKey="_id"
  [rows]="5"
  [paginator]="true"
  selectionMode="multiple"
  [(selection)]="selectedWords"
>
  <ng-template pTemplate="header" let-word>
      <tr [pSelectableRow]="word">
        <th pSortableColumn="initial">
          {{ dictionary.wordsInitial }}
          <p-sortIcon field="initial"></p-sortIcon>
        </th>
        <th pSortableColumn="target">
          {{ dictionary.wordsTarget }}
          <p-sortIcon field="target"></p-sortIcon>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-word let-rowIndex="rowIndex">
      <tr [pSelectableRow]="word" [pSelectableRowIndex]="rowIndex">
        <td>{{ word.initial }}</td>
        <td>{{ word.target }}</td>
      </tr>
    </ng-template>
</p-table>
