@import '~src/styles/style-import';

:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  width: 70rem;
  padding: 2rem;

  @extend %std-tile;
}

.header {
  text-align: left;
  color: $text-color;
  margin-top: 0.5rem;
}
