@import '~src/styles/style-import';

:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 45rem;
  padding: 2rem;
  margin-top: 3rem;

  @extend %std-tile;
}

.header {
  text-align: center;
  color: $text-color;
}
