@import '~src/styles/style-import';

:host {
  display: block;
  position: sticky;
  top: 0;
}

.navigation {
  min-height: 100%;
  height: 100vh;
  width: 16rem;
  padding: 0.5rem 0;

  @extend %std-tile;
}

:host ::ng-deep {
  .p-button {
    .p-button-icon {
      font-size: 1.4rem;
    }

    &.nav-link {
      font-size: 1.4rem;
      width: 100%;
      text-align: start;
    }

    &.logo {
      pointer-events: none;
    }
  }

  .p-divider {
    margin: 0.2rem;
  }
}
