<form 
  class="form p-d-flex p-flex-column p-ai-center"
  [formGroup]="formGroup"
  novalidate
>
  <div class="word-section">
    <div class="field dropdowns p-grid p-formgrid">
      <p-dropdown 
        class="initial-lang p-col-12 p-md-4" 
        [options]="languages" 
        optionLabel="label"
        optionValue="value"
        [placeholder]="dictionary.courseInitialLang"
        [id]="formFields.initialLang"
        [formControlName]="formFields.initialLang"
      ></p-dropdown>

      <input
        pInputText
        type="text"
        [placeholder]="dictionary.wordsInitial"
        autocomplete="off"
        class="p-inputtext fluid p-col-12 p-md-8"
        [id]="formFields.initial"
        [formControlName]="formFields.initial"
      />
    </div>

    <div class="field dropdowns p-grid p-form-grid">
      <p-dropdown 
        class="target-lang p-col-12 p-md-4" 
        [options]="languages" 
        optionLabel="label"
        optionValue="value"
        [placeholder]="dictionary.courseTargetLang"
        [id]="formFields.targetLang"
        [formControlName]="formFields.targetLang"
      ></p-dropdown>

      <input
        pInputText
        type="text"
        [placeholder]="dictionary.wordsTarget"
        autocomplete="off"
        class="p-inputtext fluid p-col-12 p-md-8"
        [id]="formFields.target"
        [formControlName]="formFields.target"
      />
    </div>
  </div>

  <div class="buttons-container p-d-flex p-jc-around">
    <p-button 
      [label]="dictionary.save"
      [icon]="icons.save"
      [disabled]="!isFormValid"
      (click)="save()"
      styleClass="button p-button"
    ></p-button>

    <p-button 
      [label]="dictionary.cancel"
      [icon]="icons.cancel"
      (click)="cancel()"
      styleClass="button p-button-secondary"
    ></p-button>
  </div>
</form>
